<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"/>
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="static/css/sign-in.css" />
    <title>Tableau de bord du Harvester {{data_details.hostname}} </title>
  </head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/static/assets/brand/nester.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Harvester - {{data_details.hostname}}
    </a>
  </nav>
      <div class="container mt-5">
          <div class="row">
              <!-- Première Carte -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Nom de l'hôte</h5>
                          <p class="card-text"> {{data_details.hostname}} </p>
                      </div>
                  </div>
              </div>
  
              <!-- Deuxième Carte -->
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Latence en milliseconde</h5>
                          <p class="card-text">{{data_details.latency_wan}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <body>
        <div class="container mt-5">
            <div class="row">
                <!-- Troisième Carte -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">IP</h5>
                            <p class="card-text">{{data_details.host_ip}}</p>
                        </div>
                    </div>
                  </div>

    
                <!-- Quatrième Carte -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Statut</h5>
                            <p class="card-text">{{data_details.statut}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <body>
          <div class="container mt-5">
              <div class="row">
                  <!-- Troisième Carte -->
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">OS Version</h5>
                              <p class="card-text">{{data_details.os_v}}</p>
                          </div>
                      </div>
                    </div>
  
      
                  <!-- Quatrième Carte -->
                  <div class="col-md-6">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">Agent version</h5>
                              <p class="card-text">{{data_details.agent_version}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    


    <div class="container mt-5">
    <p id="result"></p>
    <button class="btn btn-dark" onclick="runScript()">Mise à jour Nmap</button>    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">IP</th>
            <th scope="col">Ports ouverts</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(0,data_details.machines_number) %}
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{data_details.ip_adresses[i]}}</td>
            <td>{{data_details.open_ports[i]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script>
        function runScript() {
            $.get('/refresh_nmap', function(data) {
                $('#result').text(data.result);
            });
        }
      </script>
    </div>
    </body>
</html>